{% extends 'home/base.html' %}

{% block contenido %}

<div class="container mt-lg-3">

    <h3 class="pb-lg-3">

        {% block titulo %}
            <br>
            Categorías de productos
        {% endblock titulo %}
    </h3>

    {% block contenido_producto %}
        <div>
            {% if user.is_staff %}
                <a href="{% url 'producto:productocategoria_form' %}"
                   class="btn btn-outline-success">Crear</a>
            {% endif %}
            <a href="{% url 'producto:productocategoria_list' %}"
               class="btn btn-outline-primary">Listar</a>
            <br>
        </div>

        <br>
        <h3 class="pb-lg-3">Productos</h3>
        <div>
            {% if user.is_staff %}
                <a href="{% url 'producto:producto_form' %}" class="btn btn-outline-success">Crear</a>
            {% endif %}
            <a href="{% url 'producto:producto_list' %}" class="btn btn-outline-primary">Listar</a>
            <br>
        </div>
    {% endblock contenido_producto %}
    <div>
        <br>
        <a href="{% url 'home:index' %}" class="btn btn-secondary">Volver al menú principal</a>
    </div>
</div>
    
{% endblock contenido %}