{% extends 'producto/index.html' %}

{% block titulo %}
    <br>
    Detalle de Productos
{% endblock titulo %}

{% block contenido_producto %}
    <ul>
        <li>Nombre: {{ object.nombre }}</li>
        <li>Descripción: {{ object.descripcion }}</li>
        <li>Categoría: {{ object.categoria }}</li>
        <li>Precio: {{ object.precio }}</li>
        <li>Fecha de vencimiento: {{ object.fecha_vencimiento }}</li>
        <li>Fecha de actualización: {{ object.fecha_actualizacion }}</li>
    </ul>

    {% url 'producto:index' as url %}
    <br>
    {% include 'home/index_back.html' with link=url %}

{% endblock contenido_producto %}