{% extends 'producto/index.html' %}

{% block titulo %}
    <br>
    Eliminar Categorías de Productos
{% endblock titulo %}

{% block contenido_producto %}
    <p>¿Confirmas que quieres eliminar "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div>
            <button type="submit" class="btn btn-danger">Confirmar</button>
        </div>
    </form>

    {% url 'producto:index' as url %}
    <br>
    {% include 'home/index_back.html' with link=url %}
    
{% endblock contenido_producto %}