{% extends 'compra/index.html' %}

{% block titulo %}
    Detalle de compras
{% endblock titulo %}

{% block contenido_compra %}
    <ul>
        <li>Cliente: {{ object.cliente }}</li>
        <li>Producto: {{ object.producto.nombre }}</li>
        <li>Precio unitario: {{ object.producto.precio }}</li>
        <li>Cantidad comprada: {{ object.cantidad }}</li>
        <li>Precio total: ${{ object.precio_total }}</li>
        <li>Fecha de venta: {{ object.fecha_venta }}</li>
    </ul>

    {% url 'compra:index' as url %}
    {% include 'home/index_back.html' with link=url %}

{% endblock contenido_compra %}