{% extends 'compra/index.html' %}

{% block titulo %}
    Eliminar compras
{% endblock titulo %}

{% block contenido_compra %}
    <p class="fs-5 fst-italic">¿Confirmas que quieres eliminar "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-danger">Confirmar</button>

            {% url 'compra:index' as url %}
            {% include 'home/index_back.html' with link=url %}

        </div>
    </form>
{% endblock contenido_compra %}