{% extends 'home/base.html' %}

{% block contenido %}
    <h1 class="shadow-lg text-center">Registrar compra</h1>
    <div class="container mt-lg-3">
        <h3 class="pb-lg-3">

            {% block titulo %}
                Registrar compra
            {% endblock titulo %}
        </h3>

        {% block contenido_compra %}
            <div class="d-grid gap-3">
                {% if user.is_staff %}
                    <a href="{% url 'compra:compra_form' %}" class="btn btn-primary">Registrar</a>
                {% endif %}
                <a href="{% url 'compra:compra_list' %}"
                   class="btn btn-primary">Listar</a>
                <br>
            </div>
        {% endblock contenido_compra %}
    </div>
{% endblock contenido %}